.table-head{
    background-color:darkgray
}
.table{
    width:80%;
    margin-left:10%;
}input.ng-touched.ng-invalid{
    border-color:red
}
span{
    color:red
}
.logout-button{
    float:right;
    margin-right:40px;
}